files:
 "C:\\scripts\\RenamePC.ps1":
    content: |
      if(test-path C:\\transcript.txt) {ri C:\\transcript.txt}
      Start-transcript -Path C:\\transcript.txt -Force -NoClobber
      "Date Ran $date"
      $InstanceId = Invoke-Restmethod -uri http://169.254.169.254/latest/meta-data/instance-id 
      Try { 
        Rename-Computer -NewName $InstanceId-4 -confirm:$false -force
        New-SSMAssociation -InstanceId $InstanceId -Name "domain"
      }
      Catch
      {
        $errorMessage = $_.Exception.Message
        "Exception: $errorMessage"
      }
      Stop-transcript
commands:
  01-install-windows-auth:
    command: powershell.exe -ExecutionPolicy RemoteSigned "Add-WindowsFeature Web-Security,Web-Windows-Auth"
    ignoreErrors: true
    waitAfterCompletion: 5
  02-enable-iis-windows-auth:
    command: powershell.exe -ExecutionPolicy RemoteSigned "Set-WebConfigurationProperty -Filter '/system.webServer/security/authentication/windowsAuthentication' -Name Enabled -Value True -PSPath 'IIS:\' -Location 'Default Web Site'"
    ignoreErrors: true
    waitAfterCompletion: 5
container_commands:
  01-Rename-PC:
    command: powershell.exe -ExecutionPolicy Bypass -File C:\\scripts\\RenamePC.ps1
    ignoreErrors: true
  02-Reboot-PC:
    command: shutdown /r /t 0
    waitAfterCompletion: forever
