files:
  "/etc/apache2/.htpasswd":
    mode: "000644"
    owner: root
    group: root
    content: |
      user1:$apr1$w42RO5fx$ZOwyp3INs7bhqbGlo.Ezo0
  "/etc/httpd/conf.d/auth.conf":

    mode: "000644"
    owner: root
    group: root
    content: |
      <Directory /var/www/html>
        AllowOverride All
        AuthType basic
        AuthName "Staging Auth"
        AuthUserFile /etc/apache2/.htpasswd
        Require valid-user
      </Directory>
