files:
 "C:\\scripts\\RenamePC.ps1":
    content: |
      $date =get-date
      if(test-path C:\\transcript.txt) {ri C:\\transcript.txt}
      Start-transcript -Path C:\\transcript.txt -Force -NoClobber
      "Date Ran $date"
      $InstanceId = Invoke-Restmethod -uri http://169.254.169.254/latest/meta-data/instance-id
      Rename-Computer -NewName $InstanceId-4 -confirm:$false -force
      #New-SSMAssociation -InstanceId $InstanceId -Name "awsconfig_Domain_d-90670bd6f3_aws.nonprod.aflac.com"
      #Restart-Computer -Force
      Stop-transcript
commands:
  01-install-windows-auth:
    command: powershell.exe -ExecutionPolicy RemoteSigned "Add-WindowsFeature Web-Security,Web-Windows-Auth"
    ignoreErrors: false
    waitAfterCompletion: 5
  02-enable-iis-windows-auth:
    command: powershell.exe -ExecutionPolicy RemoteSigned "Set-WebConfigurationProperty -Filter '/system.webServer/security/authentication/windowsAuthentication' -Name Enabled -Value True -PSPath 'IIS:\' -Location 'Default Web Site'"
    ignoreErrors: false
    waitAfterCompletion: 5
  03_Rename_PC:
    command: powershell.exe -ExecutionPolicy Bypass -File C:\\scripts\\RenamePC.ps1
  04_Reboot_PC:
    command: shutdown /r /t 0
    waitAfterCompletion: forever
